src/dotnet-svcutil/lib/tests/TestCases/wsdl/memberNamedSystem.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://Microsoft.ServiceModel.Samples">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples">
<xs:element name="GetData">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDataResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDataUsingDataContract">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="composite" type="tns:CompositeType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="CompositeType">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="System" type="xs:string"/>
</xs:sequence>
<xs:attribute name="BoolValue" type="xs:boolean" use="required"/>
</xs:complexType>
<xs:element name="GetDataUsingDataContractResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="GetDataUsingDataContractResult" type="tns:CompositeType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetDataUsingDataContract2">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="composite" type="tns:CompositeType2"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="CompositeType2">
<xs:attribute form="qualified" name="System" type="xs:boolean" use="required"/>
</xs:complexType>
<xs:element name="GetDataUsingDataContract2Response">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="1" name="GetDataUsingDataContract2Result" type="tns:CompositeType2"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="IService1_GetData_InputMessage">
<wsdl:part name="parameters" element="tns:GetData"/>
</wsdl:message>
<wsdl:message name="IService1_GetData_OutputMessage">
<wsdl:part name="parameters" element="tns:GetDataResponse"/>
</wsdl:message>
<wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
<wsdl:part name="parameters" element="tns:GetDataUsingDataContract"/>
</wsdl:message>
<wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
<wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse"/>
</wsdl:message>
<wsdl:message name="IService1_GetDataUsingDataContract2_InputMessage">
<wsdl:part name="parameters" element="tns:GetDataUsingDataContract2"/>
</wsdl:message>
<wsdl:message name="IService1_GetDataUsingDataContract2_OutputMessage">
<wsdl:part name="parameters" element="tns:GetDataUsingDataContract2Response"/>
</wsdl:message>
<wsdl:portType name="IService1">
<wsdl:operation name="GetData">
<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/GetData" message="tns:IService1_GetData_InputMessage"/>
<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="GetDataUsingDataContract">
<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage"/>
<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage"/>
</wsdl:operation>
<wsdl:operation name="GetDataUsingDataContract2">
<wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/GetDataUsingDataContract2" message="tns:IService1_GetDataUsingDataContract2_InputMessage"/>
<wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService1/GetDataUsingDataContract2Response" message="tns:IService1_GetDataUsingDataContract2_OutputMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetData">
<soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IService1/GetData" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetDataUsingDataContract">
<soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IService1/GetDataUsingDataContract" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetDataUsingDataContract2">
<soap:operation soapAction="http://Microsoft.ServiceModel.Samples/IService1/GetDataUsingDataContract2" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Service1">
<wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
<soap:address location="http://localhost:53593/Service1.svc"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>